/* [1] Ortak Siniflar */

.ortala {
    margin: 0px auto
}

body {
    background: #F1F5F8;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.boyut {
    width: 1170px;
}


/* header */

header {
    float: left;
    width: 100%;
    height: 60px;
    background: #fff;
}

header .logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #575757;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 0 30px;
}


/* checkoutPage */

.checkoutPage {
    float: left;
    width: 100%;
    margin: 60px 0;
}


/* checkoutTitle */

.checkoutTitle {
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
}

.checkoutTitle h1 {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #575757;
    padding-bottom: 20px;
}

.checkoutTitle span {
    color: #9BA6AF;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: block;
}

.checkoutTitle hr {
    width: 80px;
    display: inline-block;
    margin: 30px 0 0 0;
    background: none;
    border: none;
    border-top: 1px solid #ccc;
}


/* checkoutLeft */

.checkoutLeft {
    float: left;
    width: calc(68% - 20px);
    margin-right: 20px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.checkoutLeft.bgLight {
    border: 1px solid #ebedf3;
}
.checkoutLeft.noPad .checkoutBox {
    padding: 0;
}
.checkoutLeft.noPad .cart {
    padding: 0;
}
.checkoutRight.noPad {
    padding: 0;
}


/* cart */

.cart {
    padding: 20px;
}

#basket-table {
    width: 100%;
}

#basket-table .table-headings {
    background: #F5F6FA;
    border-radius: 3px;
}

#basket-table>thead>tr>th {
    padding: 30px;
    font-size: 16px;
    color: #818994;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

#basket-table>thead>tr>th:first-child {
    text-align: left;
    border-radius: 3px 0 0 3px;
}

#basket-table>thead>tr>th:last-child {
    border-radius: 0 3px 3px 0;
}

#basket-table>thead>tr>th>span {
    position: relative;
    display: inline-block;
}

#basket-table>tbody>tr>td {
    border-bottom: 1px solid #ebedf3;
    text-align: center;
}

#basket-table>tbody>tr>td.product {
    text-align: left;
    font-weight: bold;
}

#basket-table>tbody>tr>td.product>.image {
    display: block;
    float: left;
    position: absolute;
    width: 110px;
    height: 110px;
}

#basket-table>tbody>tr>td.product>.image>img {
    width: 110px;
    max-width: 250px;
    position: absolute;
    z-index: 1;
    padding: 20px;
    background-color: #fff;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transform: scale(1.2);
}

#basket-table>tbody>tr>td.product>.image:hover>img {
    z-index: 2;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);
    border-radius: 3px;
}

#basket-table>tbody>tr>td.product>.product-info {
    padding: 0 0 0 130px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.42857;
    height: 110px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#basket-table>tbody>tr>td.product>.product-info>.product-info-tc {
    display: table-cell;
    vertical-align: middle;
    height: 110px;
}

#basket-table>tbody>tr>td.product>.product-info>.product-info-tc .ng-binding {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    display: inline-block;
}

#basket-table>tbody>tr>td.product>.product-info>.size {
    font-size: 12px;
}

.removeFromBasket {
    cursor: pointer;
    font-size: 13px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: url(../images/odeme/sil.png) no-repeat left center;
    padding-left: 15px;
    background-size: 9px;
}

.modal-body p {
    font-size: 15px;
    color: #9BA6AF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.modal-body .btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.removeFromBasket:hover {
    text-decoration: underline;
}

#basket-table>tbody>tr>td.price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #979797;
    font-size: 15px;
    line-height: 1.42857;
}

#basket-table>tbody>tr>td.price span.new {
    color: #62a8e2;
}

#basket-table>tbody>tr>td.qty {
    width: 50px;
    display: table-cell;
    vertical-align: middle;
}

#basket-table>tbody>tr>td.total {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.42857;
}

.btn-back {
    width: 50%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
    color: #9BA6AF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
}

.btn-back i.shop-continue {
    background: url(../images/odeme/shopbag.png) no-repeat right center;
    width: 16px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.btn-back:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #ebedf3;
}

.btn-okey {
    width: 50%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
    color: #81C461;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.btn-okey i.shop-complete {
    background: url(../images/odeme/right-arrow.png) no-repeat right center;
    width: 24px;
    height: 12px;
    display: inline-block;
    margin-left: 10px;
}


/* qty */

#qty {
    border: 1px solid #94c4ec;
    border-radius: 3px;
    display: inline-block;
    height: 34px;
    margin: 0;
    width: 66px;
    padding: 0;
}

#qty .value-button {
    color: #62a8e2;
    font-family: sans-serif;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    width: calc(64px/3);
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#qty .value-button:hover {
    cursor: pointer;
}

#qty input#number {
    border: none;
    color: #62a8e2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    float: left;
    line-height: 32px;
    text-align: center;
    width: calc(64px/3);
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    float: left;
    outline: none;
}

#qty input[type=number]::-webkit-inner-spin-button, #qty input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* checkoutRight */

.checkoutRight {
    float: right;
    width: calc(32% - 20px);
    margin-left: 20px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.checkoutRight.bgLight {
    border: 1px solid #ebedf3;
}

.checkoutRight .checkoutRightTitle {
    background: #F5F6FA;
    padding: 30px;
    font-size: 16px;
    color: #818994;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
}

.checkoutRight .checkoutRightTitle .cartEdit {
    position: absolute;
    top: 24px;;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #fff url(../images/cartEdit.png) no-repeat center;
    border-radius: 50%;
}

.checkoutRight .basket-total {
    min-height: 170px;
    padding: 20px 0;
    border-bottom: 1px dashed #ebedf3;
}

.checkoutRight .basket-total .payment-list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 20px;
}

.checkoutRight .basket-total .payment-list>li {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    height: 20px;
    line-height: 20px;
}

.checkoutRight .basket-total .payment-list>li span {
    display: inline-block;
}

.checkoutRight .basket-total .payment-list>li .payment-total {
    width: 50%;
    text-align: left;
    color: #9BA6AF;
}

.checkoutRight .basket-total .payment-list>li .payment-discount {
    width: 50%;
    text-align: right;
    color: #9BA6AF;
    float: right;
}

.checkoutRight .basket-total .payment-list>li.last {
    margin: 40px 0 0 0;
    font-size: 20px;
    font-weight: 600;
}

.checkoutRight .basket-total .payment-list>li.last .payment-discount {
    color: #62a8e2;
}

.checkoutRight .basket-item {
    height: 140px;
    border-bottom: 1px solid #f5f5f5;
    padding: 25px 0 0 0;
}

.checkoutRight .basket-item:last-child {
    border-bottom: 0;
}

.checkoutRight .basket-item figure {
    width: 100px;
    display: inline-block;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
    margin-right: 20px;
}

.checkoutRight .basket-item figure img {
    width: 80%;
    vertical-align: middle;
}

.checkoutRight .basket-item .info {
    padding: 0 10px;
}

.checkoutRight .basket-item .info .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.42857;
    font-size: 14px;
    color: #232323;
    margin: 9px 0 5px 0;
    display: block;
    line-height: 1.2em;
}

.checkoutRight .basket-item .info .skuCode {
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    color: #585858;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.checkoutRight .basket-item .info .priceLine {
    display: block;
    margin: 5px 0 0 0;
}

.checkoutRight .basket-item .info .priceLine.normalPrice {
    color: #62a8e2;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.42857;
}

.checkoutRight .couponCode {
    width: 100%;
    margin: 30px 0 0 0;
}

.checkoutRight .couponCode label {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #9BA6AF;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.checkoutRight .couponCode input[type=text] {
    float: left;
    width: calc(70% - 5px);
    margin-right: 5px;
    height: 50px;
    background: #F0F4F7;
    border: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #818994;
    padding-left: 20px;
}

.checkoutRight .couponCode input[type=submit] {
    width: calc(30% - 5px);
    margin-left: 5px;
    height: 50px;
    padding: 0;
    text-align: center;
    outline: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.checkoutRight .couponCode input:focus {
    border: 1px solid #62a8e2 !important;
}

.checkoutRight .completeButton {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
}

.checkoutRight .completeButton a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


/* breadcrumbs */

.breadcrumbs {
    background-color: #fff;
    border-radius: 10px;
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
    overflow: hidden;
}

.breadcrumbs ul {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.breadcrumbs li {
    float: left;
    width: 20%;
}

.breadcrumbs a {
    position: relative;
    display: block;
    padding: 19px;
    font-size: 14px;
    text-align: center;
    color: #818994;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-right: 1px solid #ebedf3;
}

.breadcrumbs li:last-child a {
    border-right: 0;
}

.breadcrumbs a:hover {
    background: #62a8e2;
    color: #fff;
}

.breadcrumbs a.active {
    color: #fff;
    background-color: #81c461;
    border-right: 0;
}

.breadcrumbs a span:first-child {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    border: 1px solid #62a8e2;
    border-radius: 50%;
    background-color: #fff;
    color: #62a8e2;
    font-size: 12px;
}

.breadcrumbs a.active span:first-child {
    color: #818994;
    border-color: #fff;
    background-color: #fff;
}


/* checkoutBox */

.checkoutBox {
    padding: 20px;
}

.checkoutBox .checkoutBoxItem .checkoutBoxHeader {
    float: left;
    width: 100%;
    background: #F5F6FA;
    padding: 30px;
    font-size: 16px;
    color: #818994;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 20px 0;
}

.checkoutBox .checkoutBoxItem .checkoutBoxHeader a{
	color: inherit;
}
.checkoutBox .checkoutBoxItem .checkoutBoxHeader .toggleHeader {
    float: right;
    background: url(../images/toggle-plus.png) no-repeat center;
    width: 11px;
    height: 11px;
    top: 0;
    right: 30px;
}

.checkoutBox .checkoutBoxItem .checkoutBoxHeader .toggleHeader.toggleHeaderOff {
    background: url(../images/toggle-plusoff.png) no-repeat center;
}

.checkoutBox .checkoutBoxItem .checkoutBoxHeader.active {
    color: #232323;
}

.checkoutBox .checkoutBoxItem {
    float: left;
    width: 100%;
}

.checkoutBox .checkoutBoxItem section {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.checkoutBox .checkoutBoxItem section .noAdress {
    text-align: center;
    border: 1px solid #ebedf3;
    padding: 20px 0;
    border-radius: 3px;
    display: none;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
}

.checkoutBox .checkoutBoxItem section .noAdress p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #9BA6AF;
    font-size: 15px;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress {
    float: left;
    width: 100%;
    border: 1px solid #ebedf3;
    border-radius: 3px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
}
.checkoutBox .checkoutBoxItem section .checkoutAdress.noBorder {
    border: none;
    box-shadow: none;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressList {
    position: relative;
    min-height: 70px;
    border-bottom: 1px solid #ebedf3;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressList:last-child {
    border-bottom: 0;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #818994;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    width: 100%;
    display: inline-block;
    float: left;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListComment {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #333;
    line-height: 22px;
    padding: 30px;
    width: 100%;
    display: inline-block;
    float: left;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressList .toggleAdress {
    float: right;
    background: url(../images/toggle-plus.png) no-repeat center;
    width: 11px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 30px;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressList .toggleAdress.toggleAdressoff {
    background: url(../images/toggle-plusoff.png) no-repeat center;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect {
    float: left;
    line-height: 70px;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect .bankList {
    display: inline-block;
    vertical-align: middle;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label .checkTitle {
    color: #818994;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    float: left;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label .checkBank {
    color: #818994;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    float: left;
    line-height: 20px;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label .checkIban {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    color: #9BA6AF;
    float: left;
    line-height: 20px;
    font-weight: 500;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label .checkAmount {
    font-size: 84%;
    display: inline-block;
    margin: 0 0 0 10px;
    color: #585858;
    text-transform: uppercase;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label .kapidaOdeme {
    font-size: 70%;
    display: inline-block;
    margin: 0 0 0 15px;
    color: #585858;
    float: left;
    text-transform: uppercase;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .checkBoxSelect label input {
    margin: 26px 15px 0px 0;
    float: left;
    border: none;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListHead .cargoPrice {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #62a8e2;
    line-height: 70px;
}

.checkoutBox .checkoutBoxItem section .checkoutAdress .adressListBottom {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #8d8d8d;
    padding: 0 30px 30px 30px;
    width: 100%;
    float: left;
    display: none;
}

.checkoutBox .checkoutBoxItem .checkoutBoxFooter {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.checkoutBox .checkoutBoxItem .checkoutBoxFooter a {
    font-family: 'Open Sans', sans-serif;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment {
    float: left;
    width: 100%;
    border: 1px solid #ebedf3;
    border-radius: 3px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .checkoutPaymentHead .paymentTypesWrapper {
    padding: 30px;
    border-bottom: 1px solid #ebedf3;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesWrapper ul li {
    display: inline-block;
    color: #9BA6AF;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-right: 25px;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesWrapper ul li label {
    line-height: 18px;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesWrapper ul li label span {
    font-weight: 600;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesWrapper ul li label input {
    margin: 0 15px 0px 0;
    float: left;
    border: none;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer>div {
    display: none;
}
.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard {
    padding: 30px;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer>.active {
    display: block;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv {
    width: 44%;
    display: inline-block;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv>div {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px 0;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv>div label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    max-width: 100%;
    margin-bottom: 10px;
    color: #232323;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv .cc-last {
    display: inline-block;
    margin: 0 20px 0 0;
    width: initial;
    float: left;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv .cc-cvv2 {
    display: inline-block;
    margin: 0;
    width: 96px;
    position: relative;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv .cc-month {
    width: 76px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv .cc-year {
    width: 94px;
    float: left;
    display: inline-block;
}

.checkoutBox .checkoutBoxItem section .checkoutPayment .paymentTypesContainer .paymentCreditCard .cardDiv>div select {
    background: #F0F4F7;
    border: 2px solid #F0F4F7;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.whatCvv2 {
    position: absolute;
    right: 10px;
    top: 37px;
    width: 20px;
    height: 20px;
    background: #f0f4f7 url(../images/cvv2.png) no-repeat center;
    border-radius: 50%;
    background-size: 9px;
    cursor: pointer;
}
.card-wrapper {
    width: 50%;
    float: right;
    margin: 10px 0 0 0;
}

.card-comment {
    width: 100%;
    margin: 30px 0 0 0;
}
.card-comment p {
    font-size: 14px;
    line-height: 20px;
    color: #9BA6AF;
    padding-bottom: 10px;
}
.card-comment p:last-child {
    padding-bottom: 0;
}

.payment-agreement {
    float: left;
    width: 100%;
    display: block !important;
    padding: 30px;
    border-top: 1px solid #ebedf3;
}
.payment-agreement a {
    color: #62a8e2;
}
.payment-agreement a:hover {
    text-decoration: underline;
}
.payment-agreement input[type=checkbox] {
    border: none;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.agreement-box {
    color: #727272;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    background-color: #fff;
    height: 500px;
    overflow: auto;
    border: 5px solid #e5e5e5;
    padding: 10px;
}
.agreement-box p {
    color: #727272;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}
.agreement-modal-controls span {
    display: inline-block;
}
.agreement-modal-controls .left {
    float: left;
}
.agreement-modal-controls .btn {
    margin: 5px;
}
.agreement-modal-controls span {
    display: inline-block;
}
.agreement-modal-controls .right {
    float: right;
}

.input-hata {
	border: 1px solid red !important;
}

.ng-hide {
    display: none !important;
}
