@charset "utf-8";
/* CSS Document */

.container {
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper {
    padding: 0 10px;
}
.menu {
    display: none;
}
.navMenu {
    display: block;
}
.cd-nav-trigger {
    right: 10px;
    top: 20px;
}
.buttons li {
    margin: 0 50px 0 0;
}

/* slider */
.slider .sliderRight img {
    width: 100%;
    display: inline-block;
    text-align: right;
    float: right;
    height: auto;
}

/* cozumler */
.cozumler {
    background-position: center;
}
