@charset "utf-8";
/* CSS Document */

/* slider */
.slider .sliderLeft h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
}
.slider .sliderLeft p {
    font-size: 15px;
    line-height: 25px;
}
.slider {
    height: 300px;
}
.sliderLeft {
    float: left;
    width: 50%;
    height: 300px;
}
.slider .sliderRight {
    width: 50%;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
}
.slidebuttons {
    float: left;
    margin: 0;
}

/* basliklar */
.basliklar {
    padding: 20px 0;
}
.basliklar .col {
    margin-bottom: 20px;
}
.basliklar .col:last-child {
    margin-bottom: 0;
}
.basliklar .col h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    padding: 5px 0;
}
.basliklar .col a {
    margin: 10px 0 0 0;
}

/* ozellikler */
.ozellikler {
    padding: 20px 0;
}
.ozellikler .baslik h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.ozellikler .col .ozellik-text h1 {
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    padding-bottom: 10px;
    font-weight: 700;
    margin: 0;
}
.ozellikler .col {
    position: relative;
    margin: 20px 0 0 0;
}
.ozellikler .tumu {
    text-align: center;
    margin: 20px 0 0 0;
}

/* cozumler */
.cozumler {
    height: auto;
    padding: 20px 0;
    background: #f2f2f2;
}
.cozumler .cozumSol .baslik {
    margin: 0 0 20px 0;
}
.cozumler .cozumSol {
    float: left;
    width: 100%;
}
.cozumler .cozumSol .tumu {
    margin: 0;
}
.cozumler .cozumSol .baslik h1 {
    font-size: 32px;
    line-height: 40px;
}
.cozumler .cozumSol .col {
    position: relative;
    margin: 0 0 20px 0;
}
.cozumler .cozumSol .col .cozum-text h1 {
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    padding-bottom: 4px;
}

/* kampanyalar */
.ipuclar {
    padding: 20px 0;
}
.ipuclar .baslik {
    margin: 0 0 30px 0;
}
.ipuclar .baslik h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
#ipuclar .col .tumu {
    margin: 20px 0 0 0;
}
#ipuclar.owl-theme .owl-controls {
    margin: 20px 0 0 0;
}

/* footer */
footer {
    padding: 20px 0;
}
footer .footerLinks {
    display: none;
}
footer .social {
    text-align: center;
    margin-bottom: 10px;
}

/* pageimage */
.page-image {
    height: 100px;
}
.page-image .page-title h1 {
    font-size: 32px;
    line-height: 32px;
}

/* whitebox */
.white-box {
    margin: 0 0 10px 0;
    padding: 20px;
}
.white-box h1 {
    margin: 0 0 10px 0;
    font-size: 22px;
}
.white-box .white-box-item.box-r-right {
    float: right;
    margin-left: 180px;
}
.white-box .white-box-item.box-a-left {
    position: absolute;
    left: 32px;
    top: 80px;
}
.white-box .white-box-item.box-r-left {
    float: left;
    margin-right: 180px;
}
.white-box .white-box-item.box-a-right {
    position: absolute;
    right: 32px;
    top: 80px;
}

/* fiyatlar */
.cd-pricing-header {
    height: 80px;
    background-color: #2fdab8;
}
.cd-pricing-header h2 {
    font-size: 18px;
    color: #fff;
    padding-bottom: 0;
}
.cd-currency, .cd-value {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}
.cd-duration {
    font-weight: 700;
    font-size: 1.3rem;
    color: #fff;
}
.cd-pricing-list {
    margin: 0;
}
.cd-pricing-list>li {
    position: relative;
    margin-bottom: 10px;
}

/* ipuclari */
.news ul li {
    padding: 10px;
    text-align: left;
    border: 2px solid #eee;
    margin-bottom: 10px;
}
.page-body .page-content p {
    font-size: 15px;
    color: #888;
    line-height: 25px;
    margin: 0 0 15px 0;
}
.cd-pagination {
    margin: 1em 0;
}

/* 404 */
.dortyuzdort {
    width: 100%;
    background: #fff url(../img/error.png) no-repeat top 30px center;
    text-align: center;
    padding: 200px 0 30px 0;
    margin: 80px 0 0;
}

/* sepet */
.checkoutLeft {
    padding: 0 15px;
}
.checkoutRight {
    margin-top: 10px !important;
}
